<!DOCTYPE html>
<html>
  <head>
    <title>book</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <%- include partials/header %>
    </header>
    <div class="book-wrapper">
      <a href="/book/<%= book._id %>"><h1><%= book.title %></h1></a>
      <h2><%= book.author %></h2>
      <p><%= book.description %></p>
      <% if(author) {%>
        <div class='book-button'>
          <a href="/del/<%= book.id %>"><button>Del</button></a>
          <a href="/edit/<%= book.id %>"><button>Edit</button></a>
        </div> 
      <% } %>
    </div>
  </body>
</html>