<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<%- include partials/header %>
    <div class="list-wrapper">
      <% books.forEach(value => { %>
      <div class='book-list'>
        <a href="/book/<%= value.id %>"><h1>Book: <%= value.title %></h1></a>
        <h2><%= value.author.username %></h2>
        <% if(value.description.length > 100) { %>
            <p><%= value.description.slice(0, 100) %></p>
        <% } else { %>
            <p><%= value.description %></p>
        <% } %>
        <% if(author) {%>
            <div class='button'>
              <a class='del-btn' href="/del/<%= value.id %>"><button >Del</button></a>
              <a class='edit-btn' href="/edit/<%= value.id %>"><button>Edit</button></a>
            </div>
        <% } %>
        <% if(user) { %>
          <a class='edit-btn' href="/users/buy/<%= value.id %>"><button>buy</button></a>
        <% } %>
      </div>
      <% }) %>
    </div>
  </body>
</html>